.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-family: "pretendard-light";
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .checkmark {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #f1f1f1;
    border-radius: 50%;
    position: relative;
  }
  
  .checkbox:checked + .checkmark {
    background-color: #007bff;
  }
  